<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/blocks/post.css">
    <script src="https://cdn.tiny.cloud/1/foyago9j7vj84rhuobm8kvwvncbr1vlm8f02en5b9bpy1aj2/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
</head>
<body>
    <header class="header" style="
    background: linear-gradient( rgba(0, 0, 0, 0.555), #14181A ), url(../imgpost/fon.jpg);
    background-size: cover;
    background-position: center;
    ">
        <div class="container">
            <div class="header-row">
                <div class="header-logo">
                   <a href="../index.html"><img src="../img/logo.png" alt="Logo"> </a>
                </div>
                <nav class="header-nav">
                    <ul>
                        <li><a href="../index.html">Главная</a></li>
                        <li><a href="../html/attractions.html">Достопримечательности</a></li>
                        <li><a href="../html/gallery.html">Галерея</a></li>
                        <li><a href="../html/posts">Посты</a></li>
                    </ul>
                </nav>
                <div class="header-login">
                    <a href="../html/auth.html" class="btn">Войти</i></a>
                </div>
                <button type="button" class="mobile-nav-button">
                    <span class="mobile-nav-button__icon"></span>
                </button>
            </div>
        </div>
        <div class="container container--header" >
            <h1><%=title%></h1>
         </div>
    </header>
    <div class="mobile-nav">
        <a href="../index.html"><img class="mobile-logo" src="../img/logo.png" alt="logo"></a>
        <nav class="mobile-nav-list">
            <ul>
                <li><a href="../index.html">Главная</a></li>
                <li><a href="../html/attractions.html">Достопримечательности</a></li>
                <li><a href="../html/gallery.html">Галерея</a></li>
                <li><a href="../html/posts">Посты</a></li>
            </ul>
        </nav>
        <div class="mobile-login">
            <a href="../html/auth.html" class="btn">Войти</i></a>
        </div>
    </div>
    <section class="container">
        <div class="text">
            <%-text%>
        </div>
        <div class="img_user">
            <img src="../<%=img%>" alt="" class="profile-pic">
        </div>
    </section>

    <script src="https://kit.fontawesome.com/c63fee7330.js" crossorigin="anonymous"></script>
    <script src="../js/mobileNavbar.js"></script>
    <script src="../js/main.js"></script>
</body>
</html>