<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Посты</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/blocks/posts.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header-row">
                <div class="header-logo">
                   <a href="../index.html"><img src="../img/logo.png" alt="Logo"> </a>
                </div>
                <nav class="header-nav">
                    <ul>
                        <li><a href="../index.html">Главная</a></li>
                        <li><a href="attractions.html">Достопримечательности</a></li>
                        <li><a href="gallery.html">Галерея</a></li>
                        <li><a href="posts.html">Посты</a></li>
                    </ul>
                </nav>
                <div class="header-login">
                    <a href="auth.html" class="btn">Войти</i></a>
                </div>
                <button type="button" class="mobile-nav-button">
                    <span class="mobile-nav-button__icon"></span>
                </button>
            </div>
        </div>
        <div class="container container--header">

            
            <h1>Посты</h1>
            <a href="createPost.html" class="createPost">Создать пост</a>
 
             
         </div>
    </header>
    <div class="mobile-nav">
        <a href="../index.html"><img class="mobile-logo" src="../img/logo.png" alt="logo"></a>
        <nav class="mobile-nav-list">
            <ul>
                <li><a href="../index.html">Главная</a></li>
                <li><a href="attractions.html">Достопримечательности</a></li>
                <li><a href="gallery.html">Галерея</a></li>
                <li><a href="posts.html">Посты</a></li>
            </ul>
        </nav>
        <div class="mobile-login">
            <a href="auth.html" class="btn">Войти</i></a>
        </div>
    </div>
    
    <section class="container main">
        <div class="section__cards section__cards--2-in-row">
            <% posts.forEach(function(post) { %>
                <article class="card card--wide">
                    <a href="../post/<%= post.Id %>" class="card__link"></a>
                    <img class="card__img card__img--no-margin card__img--h100" src="../<%= post.imgPost %>" alt="Img">
    
                    <div class="card__desc">
                        <h3 class="card__title card__title--big"><%= post.shortTitle %></h3>
                        <p class="card__text"><%- post.shortText %></p>
                    </div>
                </article>
              <% }); %>
        </div>
    </section>


    <script src="https://kit.fontawesome.com/c63fee7330.js" crossorigin="anonymous"></script>
    <script src="../js/mobileNavbar.js"></script>
    <script src="../js/main.js"></script>

</body>
</html>