*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root { 
    --index: calc(1vw+1vh);
    --color-header: #f4efec;
    --color-text: #cdc6c3;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: #14181A;
    color: #fafafa;
    overflow: hidden;
}

.kreml{
    width: calc(var(--index) * 36);
	position: absolute;
	left: 24vw;
	top: 10vh;
	z-index: -1;
}