.header{
    height: 41vh;
	color: #fff;
	background-size: cover;
    background-position: bottom;
}
.container--header h1{
    margin-top: 50px;
    font-size: 50px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.952);

}
.container--header h3{
    font-size: 20px;
    color: rgba(255, 255, 255, 0.952);
}
.container--header {
	height: 100%;
	display: flex;
    justify-content: flex-start;
    align-items: center;
	flex-direction: column;
}

@media (max-width: 1139px) {

    .container--header{
        justify-content: flex-start;
    }
}
@media (max-width: 949px) {

    .container--header{
        justify-content: flex-start;
    }
}
@media (max-width: 640px) {

    .container--header h1{
        margin-top: -20px;
    }
	.container{
		width: 95%;
		padding: 10px
	}

    .header{
        height: 25vh;
        background-size: cover;
    }
    .container--header h1{
        font-size: clamp(15px, 7vw, 40px);
    }
    .container--header h3{
        font-size: clamp(15px, 5vw, 20px);
    }

	.section__header h2{
		font-size: 20px;
	}

}

