.main {
    padding: 50px 0;
    display: grid;
    gap: 70px;
}
.header{
    height: 41vh;
	color: #fff;
    background: linear-gradient( rgba(0, 0, 0, 0.555), #14181A ), url(../../img/fon.jpg);
	background-size: cover;
    background-position: center;
}
.container--header {
	height: 100%;
	display: flex;
    justify-content: flex-start;
    align-items: center;
	flex-direction: column;
}
.container--header h1{
    margin-top: 50px;
    font-size: 50px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.952);

}
.container--header h3{
    font-size: 20px;
    color: rgba(255, 255, 255, 0.952);
}
.container {
	margin: 0 auto;
	max-width: 1440px;
	padding: 0 32px;
}

.section__header {
    margin-bottom: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section__cards {
    display: grid;
    gap: 32px;
}

.section__cards--6-in-row {
	grid-template-columns: repeat(6, 1fr);
}

.section__cards--4-in-row {
	grid-template-columns: repeat(4, 1fr);
}

.section__cards--2-in-row {
	grid-template-columns: repeat(2, 1fr);
}

.card {
    position: relative;
}
.card__link {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: 1s;
}
.card__img {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 8px;
    object-fit: cover;
    height: 80%;
    
}
.card__img:hover{
    filter: brightness(50%);
    
}

.card__title {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}

.card__location {
    position: relative;
    z-index: 1;
    color: #979797;
    font-size: 13px;
}

.card__location:hover {
    color: #7B61FF;
}
.card__img--hotel {
    margin-bottom: 10px;
    width: 100%;
    height: 100%;
}
.card__title--hotel {
    margin-bottom: 12px;
}
.card--wide {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
}
.card__img--no-margin {
    margin: 0;
}
.card__img--h100 {
    height: 100%;
}
.card__desc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 16px;
}
.card__title--big {
    color: #fff;
    font-weight: 600;
    font-size: 20px;
}
.card__text {
    color: #c4c4c4;
    font-size: 16px;
    line-height: 2;
}
.card__footer--wide {
    margin-top: auto;
}

.card__footer-link {
    position: relative;
    z-index: 1;
    font-size: 12px;
    color: #ddc9c9;

    padding-left: 20px;
    background-repeat: no-repeat;
    background-position: 0px 1px;
}

.card__footer-link:hover {
    color: #7B61FF;
}
.title-1 {
    font-weight: 600;
    font-size: 32px;
    line-height: 1, 5;
    color: #fff;
}

.button-more {
    display: flex;
    align-items: center;
    gap: 4px;
    border: 2px solid;
    border-color: rgb(22, 92, 28);
    padding: 20px;
    height: 4px;
    background: rgba(22, 92, 28, 0);
    border-radius: 12px;
    font-size: 16px;
    color: #dfdfdf;

    transition: background-color 0.2s ease-in;
}

.button-more:hover {
    background: rgba(29, 119, 36, 0.274);
}

.arrow{
    width: 20px;
    height: 20px;
    color: rgb(223, 223, 223);
}
@media (max-width: 1139px) {
	.main {
		row-gap: 60px;
		padding-top: 0px;
		padding-bottom: 40px;
	}
    .container--header{
        justify-content: flex-start;
    }
	.section__header {
		margin-bottom: 34px;
	}

	.title-1 {
		font-size: 26px;
	}

	.section__cards--6-in-row {
		grid-template-columns: repeat(3, 1fr);
	}

	.section__cards--4-in-row {
		grid-template-columns: repeat(2, 1fr);
	}

	.card__text {
		font-size: 14px;
	}

    .card__footer {
		column-gap: 10px;
	}
}
@media (max-width: 949px) {

	.section__cards--2-in-row {
		grid-template-columns: 1fr;
	}
    .container--header{
        justify-content: flex-start;
    }
}
@media (max-width: 640px) {
    .header{
        height: 25vh;
        background-size: cover;
    }
    @media (max-height: 800px) {
        .header{
         height: 200px;
        }
     }
	.section__cards--6-in-row {
		grid-template-columns: repeat(2, 1fr);
	}
	.h2_sect1{
		font-size: 15px !important;
	}
    .container--header h1{
        margin-top: -20px;
    }
	.container{
		width: 95%;
		padding: 10px
	}


    .container--header h1{
        font-size: clamp(15px, 7vw, 40px);
    }
    .container--header h3{
        font-size: clamp(15px, 5vw, 20px);
    }
	.button-more{
		padding: 20px 10px !important;
		font-size: 13px;
	}

	.section__header h2{
		font-size: 20px;
	}
	.section__cards--4-in-row {
		grid-template-columns: repeat(1, 1fr);
	}

    .card--wide {
        grid-template-columns: 1fr;
    }

}

@media (max-width: 440px) {

	.section__cards--6-in-row {
		grid-template-columns: repeat(1, 1fr);
	}
}
@media (max-height: 800px) {
    .header{
     height: 350px;
    }
 }